#loginModalTitle {
    color: #000 !important;
}
#inner{
    color :#000 !important;
}
#inner2{
    color :#000 !important;
}

#registerModalTitle {
    color: #000 !important;
}

#LoginEx{
    color :#000 !important;
}
#result{
    color :#000 !important;
}
.modal-title{
    color :#000 !important;
}
.modal-body{
    color :#000 !important;
}